* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    color: #263138;
}

header{
    position: fixed;
    width: 100%;
    background-color: #FF9A6C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    
}

header a {
    color: #FFFFFF;
    font-weight: 600;
    padding: 20px;
    text-decoration: none;
    transition: 0.3s;
}

header a:hover {
    color: #263138;
}

#inicio {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 24px 80px 128px 80px;
    position: relative;
}

h1,
h2 {
    font-weight: 480;
    font-size: 32px;
    margin-bottom: 32px;
}

.paragrafo {
    line-height: 150%;
    margin-bottom: 32px;
}

.button {
    background-color: #FF725E;
    border-radius: 10px;
    padding: 16px 32px;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.5s;
}

.button:hover {
    background-color: #263138;
}
.button-transparent {
    background-color: transparent;
    color: #FF725E;
    padding: 16px 32px;
    text-underline-offset: 4px;
    transition: 0.3s;
}

.button-transparent:hover {
    color: #263138;
}

.absolut {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -10;
}

#clinica, #duvidas {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
}

#clinica li {
    margin-bottom: 16px;
    margin-left: 32px;
}

#farmacia {
    padding: 64px 80px;
    text-align: center;
}

#farmacia img {
    margin: 64px auto;
}

#farmacia .paragrafo {
    max-width: 950px;
    margin: 0 auto;
}

.duvida {
    position: relative;
}

.duvida h3 {
    border: 2px solid #FF725E;
    border-radius: 8px;
    cursor: pointer;
    padding: 22px;
}

.duvida img {
    position: absolute;
    top: 32px;
    right: 24px;
}

.duvida .paragrafo {
    border-right: 1px solid #FF725E;
    border-bottom: 1px solid #FF725E;
    border-left: 1px solid #FF725E;
    border-radius: 0 0 8px 8px;
    margin-top: -5px;
    padding: 0 24px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: 0.1s;
}

.duvida.ativa .paragrafo {
    height: fit-content;
    opacity: 1;
    padding: 2px;
}

footer {
    background-color: #FF9A6C;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 64px 80px;
}

footer img,
footer .titulo {
    display: block;
    font-weight: 600;
    margin-bottom: 24px;
    color: #FFFFFF;
}

footer nav a {
    color: #FFFFFF;
    display: block;
    margin-bottom: 16px;
    text-decoration: none;
    transition: 0.3s;
}

footer nav a:hover {
    color: #263138;
}

footer p  {
    margin-bottom: 16px;
    color: #FFFFFF;
    max-width: 350px;
    
}

footer p a {
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.3s;
}

footer p a:hover {
    color: #263138;
}

#copyright {
    background-color: #263138;
    padding: 24px;
    text-align: center;
    color: #FFFFFF;
}

#copyright a {
    color: #FF725E;
    padding: 5px;
    transition: 0.3s;
}

#copyright a:hover {
    color: #FFFFFF;
}

.icons {
    display: flex;
    gap: 10px;
}